{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}
  <div class="fs-tag-cloud">
    {{#foreach tags}}
      <a class="fs-pill" href="{{url}}">
        {{name}} <span class="fs-muted">({{count.posts}})</span>
      </a>
    {{/foreach}}
  </div>
{{/get}}
