{{!< default}}

<main class="site-main">
  <section class="fs-404">
    <div class="fs-404__content">

      <div class="fs-clover" aria-hidden="true">
        <img class="fs-clover__img" src="{{asset "images/clover-404.png"}}" alt="">
      </div>

      <div class="fs-404__code">{{error.statusCode}}</div>
      <h1 class="fs-404__title">You found a 4-leaf clover.</h1>
      <p class="fs-404__subtitle">
        Too bad the page you're after is the missing leaf on <strong>{{@site.title}}</strong>.
      </p>

      <div class="fs-404__actions">
        <a class="fs-404__btn" href="{{@site.url}}">Head back home</a>
      </div>

    </div>
  </section>
</main>
