{{!< default}}

{{#post}}

<main class="fs-main">
<div class="fs-grid">
    <article class="fs-content-card">
      <div class="fs-content-wrap">
        {{> "content-header"}}

        {{> "contact-form"}}

        {{#if content}}
        <section class="gh-content">
          {{content}}
        </section>
        {{/if}}
      </div>
    </article>

    {{> "sidebar"}}
  </div>
</main>

{{/post}}
