{{!< default}}

<main class="fs-main">
  <div class="fs-grid">

    <article class="fs-content-card">
      <div class="fs-content-wrap">
        {{> "content-header"}}
        <div id="fs-feed" class="fs-feed-horizontal">
          {{#foreach posts}}
            {{> "post-row"}}
          {{/foreach}}
        </div>
        <div class="fs-pagination">
          {{pagination}}
        </div>
      </div>
    </article>

    {{> "sidebar"}}

  </div>
</main>

        
